<div id="section1" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
		<div class="col-md-3 menu sliding-name">
		<div class="image">
			<%= link_to root_path, class: "navbar-brand hover-transform" do %>
				<%= image_tag "logo-optimised"  %>
			<% end %>
			<div class="text">
				<p><b>digital</b> books</p>
			</div>
		</div>


		</div>
		<div class="col-md-6 flex-center">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto flex-center">
						<li class="nav-item">
								<%= link_to "Home", root_path, class: "nav-link  hover-animation" %>
						</li>
						<% if user_signed_in? %>
							<li class="nav-item">
									<%= link_to "books", books_path, class: "nav-link hover-animation" %>
							</li>
							<li class="nav-item">
								<%= link_to "Rental", rents_path, class: "nav-link hover-animation" %>
							</li>
						<% else %>
						<% end %>
					</ul>
				</div>
		</div>


		<div class="col-md-3 flex-right">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto">
					<% if user_signed_in? %>

						<li class="nav-item dropdown">
							<%= image_tag "https://png.pngtree.com/png-clipart/20190924/original/pngtree-user-vector-avatar-png-image_4830521.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
								
								<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
							</div>
						</li>
					<% else %>
						<li class="nav-item">
							<%= link_to "Login", new_user_session_path, class: "nav-link hover-animation btn-primaire" %>
						</li>
						<li class="nav-item">
							<%= link_to "Sign Up", new_user_registration_path, class: "nav-link hover-animation" %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
  </div>
</div>
