
<div class="container m-auto border-1 shadow-sm p-3 bg-light">
  <img src="<%= @book.poster_url %>" class="rounded w-50 m-auto mb-5">
  <h1 class = "text-uppercase mb-3 fw-bold" style="text-decoration:underline;"><%= @book.title %></h1>
  <p class = "fw-bold mb-1">Author :</p>
  <p class = "mb-3"><%= @book.author %></p>

  <p class = "fw-bold mb-1">Category :</p>
  <p class = "mb-3"><%= @book.category %></p>

  <p class = "fw-bold mb-1">Overview :</p>
  <p class = "mb-3"><%= @book.overview %></p>

  <p class = "fw-bold mb-1">Price/day :</p>
  <p class = "mb-3"><%= @book.price_per_day %>$</p>

  <% if @existed_rent.exists? %>
    <%= link_to("Read", content_book_path, class: 'btn btn-info') %>
  <% end %>

  <% if !@existed_rent.exists? %>
    <div class="form-wrapper">
      <%= simple_form_for [@book, @rent] do |f| %>
        <div class="form-inputs">
          <%= f.input :started_at, as: :date%>
          <%= f.input :end_at, as: :date%>
        </div>
        <div class="form-actions">
          <%= f.button :submit, :class => "btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>