<img src="<%= @book.poster_url %>" class="rounded w-50">
<h1>Title : <%= @book.title %></h1>
<p>Author : <%= @book.author %></p>
<p>Category : <%= @book.category %></p>
<p>Overview : <%= @book.overview %></p>
<p>Price_per_day : <%= @book.price_per_day %>$</p>