<!DOCTYPE html>
<html>
  <head>
    <title>Digital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <p class="alert"><%= alert %></p>
		<%# <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> %>
		<a href="#section1" id="myBtn"><i class="fa-solid fa-arrow-up"></i></a>
    <%= yield %>

  </body>
</html>
